<section class="trustbar">
  <div class="container trustbar-inner">
    <div class="ti"><div class="ic">🏕️</div> Pursuing ACA Accreditation</div>
    <div class="ti"><div class="ic">✡️</div> Jewish values, every day</div>
    <div class="ti"><div class="ic">🤝</div> Inclusion &amp; Joy for every camper</div>
    <div class="ti"><div class="ic">🛟</div> Trained, vetted staff</div>
  </div>
</section>
